.search-title {
  margin-top: 3rem;
  font-weight: 600;
  text-align: center;
}
.search-title span {
  font-size: 1.5rem;
  font-weight: 600;
}

.center-inner-search {
  width: 90vw;
  margin: 0 auto;
}

.pagination {
  margin: 0 1rem;
  min-height: 125rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .pagination {
    margin: 0 -1rem;
  }
}
.pagination .links {
  margin-top: 1rem;
}
.pagination span {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .pagination .search-result-content:first-of-type {
    margin-top: 1rem;
    border-top: none;
  }
}
@media (max-width: 768px) {
  .pagination .search-result-content:l-of-type {
    margin-top: 1rem;
    border-top: none;
  }
}
.pagination .search-result-content {
  background: #fff;
  border: 1px solid #707070;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .pagination .search-result-content {
    display: block;
    border: none;
    border-top: #707070 3px solid;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
}
.pagination .search-result-content .search-result-content-inner-left {
  line-height: 1.5rem;
  font-weight: 600;
}
.pagination .search-result-content .search-result-content-inner-left .sr-area span {
  font-weight: 600;
  font-size: 1.2rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-address::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-title {
  font-size: 1.5rem;
  color: #1764D7;
  margin-top: 0.5rem;
  font-weight: 600;
}
.pagination .search-result-content .search-result-content-inner-left .reviewrate_output {
  display: inline-block;
}
.pagination .search-result-content .search-result-content-inner-left .reviewrate_output span {
  padding-right: 1rem;
}
.pagination .search-result-content .search-result-content-inner-left .reviewrate_output img {
  width: 8rem;
}
.pagination .search-result-content .search-result-content-inner-left .reviewrate_output::before {
  content: "\f4ad";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}
.pagination .search-result-content .search-result-content-inner-left .kensu {
  color: #1764D7;
}
.pagination .search-result-content .search-result-content-inner-left .sr-phone-num::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 1.2rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-taiken-time {
  margin-bottom: 0.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-taiken-time span {
  display: inline-block;
  padding: 0.1rem;
  border: solid 1px black;
  background-color: white;
  margin-right: 5px;
  font-weight: 500;
}
.pagination .search-result-content .search-result-content-inner-left .sr-taiken-time span:first-of-type {
  margin-left: 0.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-taiken {
  margin-bottom: 0.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-taiken span:first-of-type {
  margin-left: 0.5rem;
  color: #D94501;
  font-weight: 600;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-nyukai {
  margin-bottom: 0.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-nyukai span:first-of-type {
  margin-left: 0.5rem;
  color: #D94501;
  font-weight: 600;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-joba {
  margin-bottom: 0.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-price-joba span:first-of-type {
  margin-left: 0.5rem;
  color: #D94501;
  font-weight: 600;
}
.pagination .search-result-content .search-result-content-inner-left .joba-style {
  margin-bottom: 0.5rem;
  padding-left: 4.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .joba-style span {
  display: inline-block;
  padding: 0.1rem;
  border: solid 1px black;
  background-color: white;
  margin-right: 5px;
  font-weight: 500;
}
.pagination .search-result-content .search-result-content-inner-left .sr-facility {
  margin-bottom: 0.5rem;
  padding-left: 4.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-facility span {
  display: inline-block;
  padding: 0.1rem;
  border: solid 1px black;
  background-color: white;
  margin-right: 5px;
  font-weight: 500;
}
.pagination .search-result-content .search-result-content-inner-left .sr-feature {
  margin-bottom: 0.5rem;
  padding-left: 4.5rem;
}
.pagination .search-result-content .search-result-content-inner-left .sr-feature span {
  display: inline-block;
  padding: 0.1rem;
  border: solid 1px black;
  background-color: white;
  margin-right: 5px;
  font-weight: 500;
}
.pagination .search-result-content .search-result-content-inner-right {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.pagination .search-result-content .search-result-content-inner-right .no_img {
  text-align: end;
}
@media (max-width: 768px) {
  .pagination .search-result-content .search-result-content-inner-right .no_img {
    text-align: center;
  }
}
.pagination .search-result-content .search-result-content-inner-right img {
  width: 260px;
  height: 180px;
  object-fit: cover;
}
.pagination .search-result-content .search-result-content-inner-right .tyusyaku {
  margin-top: 1rem;
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .pagination .search-result-content .search-result-content-inner-right .tyusyaku {
    padding-left: 0;
    display: none;
  }
}
.pagination .search-result-content .search-result-content-inner-right .tyusyaku p {
  font-size: 0.6rem;
  line-height: 1.1;
}
.pagination .search-result-content .search-result-content-inner-right .tyusyaku p:nth-of-type(2), .pagination .search-result-content .search-result-content-inner-right .tyusyaku p:nth-of-type(4) {
  padding-left: 0.6rem;
}

.tyusyaku-bottom {
  margin-top: 1rem;
  padding-left: 2rem;
  display: none;
}
@media (max-width: 768px) {
  .tyusyaku-bottom {
    padding-left: 0;
    display: block;
  }
}
.tyusyaku-bottom p {
  font-size: 0.6rem;
  line-height: 1.1;
}
.tyusyaku-bottom p:nth-of-type(2), .tyusyaku-bottom p:nth-of-type(4) {
  padding-left: 0.6rem;
}
/*# sourceMappingURL=search-result.css.map */